@media only screen and (min-width: 32.5em) {
    header img {
        float: right;
        box-shadow: 5px 10px #2E4053 ;
    }

    header,
    footer {
        border-radius: 5px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }
}