@media only screen and (min-width: 32.5em) {

    header,
    footer {
        border-radius: 5px;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 500px 500px 500px;
        grid-template-rows: 500px 500px 500px;
        grid-gap: 5px;
        background-color: #fff;
    }

    .box {
        background-color: #3297a8;
        color: black;
        border-radius: 100px;
        padding: 12px;
        font-size: 100%;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    .boldname {
        font-weight: bold;
        font-size: 1.2em;
    }
    .subheading1 {
        font-size: 0.8em;
        margin-top: -2.5em;
    }
}